# macOS
.DS_Store

# Python
backend/venv/
__pycache__/
*.pyc

# Environment Variables
.env
.env.*
!.env.example

# User Uploads
backend/uploads/

# Node
node_modules/

# Build Files
dist/
build/

# VS Code
.vscode/

# Logs
*.log