* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;

/* background: url("../assets/background.jpeg") center center / cover no-repeat; */

  background:
    linear-gradient(135deg,
      var(--shadow),
      var(--matte-black),
      var(--nocturne));

  overscroll-behavior: none;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "Helvetica Neue",
    sans-serif;

  font-size: 14px;

  font-weight: 400;

  line-height: 1.5;

  letter-spacing: -0.01em;

  background:
    linear-gradient(135deg,
      var(--shadow),
      var(--matte-black),
      var(--nocturne));

  color: var(--text-primary);

  overflow-x: hidden;
}

button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}